[Unit]
Description=Simple Mail Transfer Protocol daemon
After=network-online.target
ConditionFileIsExecutable=/usr/sbin/smtpd

[Service]
ExecStartPre=/usr/sbin/smtpd -n
ExecStart=/usr/sbin/smtpd
Type=forking
PIDFile=_rundir/smtpd.pid
Restart=on-abnormal
PrivateDevices=true
ProtectSystem=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
LockPersonality=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@swap
SystemCallFilter=~@reboot
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@sandbox
CapabilityBoundingSet=~CAP_AUDIT_CONTROL
CapabilityBoundingSet=~CAP_AUDIT_READ
CapabilityBoundingSet=~CAP_AUDIT_WRITE
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND
CapabilityBoundingSet=~CAP_BPF
CapabilityBoundingSet=~CAP_IPC_LOCK
CapabilityBoundingSet=~CAP_LINUX_IMMUTABLE
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_SYS_PTRACE
CapabilityBoundingSet=~CAP_MAC_ADMIN
CapabilityBoundingSet=~CAP_MAC_OVERRIDE

[Install]
WantedBy=multi-user.target

